body {
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik Mono One", sans-serif;
  margin-bottom: -0.5rem;
  padding-bottom: 0.5rem;
}

.small {
  font-weight: 300;
  font-style: italic;
}

/* Footer styling */
#spacing {
  height: 100px;
}
.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;

  background-color: black;
  padding: 10px;
  padding-top: 20px;
  font-size: small;
  color: rgb(150, 150, 150);
}
.logos {
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
  margin-right: 40px;
}

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.hero-home {
  background-image: url("./assets/images/Maldives_GettyImages-686525938.webp");
  position: fixed;
}

.hero-search {
  background-image: url("./assets/images/andre-benz-CR0E20Of7yU-unsplash.jpg");
  min-height: 100vw;
}

.hero-saved {
  background-image: url("./assets/images/Grand_Canyon.jpg");
  min-height: 100vw;
  width: 100%;
}

.hero-saved h4 {
  color: white;
}

.hero-cta {
  position: relative;
  width: 35%;
  text-align: center;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  padding: 20px;
  background-color: orange;
  margin-top: 10px;
}
.hero-cta h2 {
  font-style: italic;
  font-size: 30px;
  text-align: center;

  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card {
  margin: 0px auto 5px auto;
}

.cardImage {
  display: block;
  width: 40%;
  float: right;
}

/* smaller desktop */
@media screen and (max-width: 980px) {
  .hero-cta {
    width: 60%;
    margin: auto;
    margin-top: 10%;
  }

  .logos {
    width: 36px;
    height: 36px;
  }
}

/* tablets */
@media screen and (max-width: 768px) {
  .hero-cta {
    width: 70%;
    font-size: 16px;
  }

  .cardImage {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  #spacing {
    height: 70px;
  }
  .footer {
    font-size: x-small;
    padding: 5px;
    padding-top: 10px;
  }

  .logos {
    width: 28px;
    height: 28px;
    margin-bottom: 5px;
    margin-right: 20px;
  }
}

/* mobile */
@media screen and (max-width: 575px) {
  .hero-cta {
    width: 80%;
    font-size: 14px;
    line-height: 1.3;
  }

  .hero-cta h2 {
    font-size: 26px;
  }

  .cardImage {
    float: none;
    width: 90%;
  }

  #spacing {
    height: 55px;
  }

  .footer {
    font-size: xx-small;
  }

  .logos {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
    margin-right: 15px;
  }
}
